<div class="background">
    <div class="titulo">
        <h2>
            <img src="/konoha.png" alt="">
            Registra-cep do naruto
        </h2>
    </div>
    
    <div class="princ-container">
        <form class="princ-form">
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" placeholder="00000-000" appCepFormat />

            <label for="logradouro">LOGRAD:</label>
            <input type="text" id="logradouro" name="logradouro" placeholder="Logradouro" readonly />

            <label for="bairro">BAIRRO:</label>
            <input type="text" id="bairro" name="bairro" placeholder="Bairro" readonly />

            <label for="estado">ESTADO:</label>
            <input type="text" id="estado" name="estado" placeholder="Estado" readonly />

            <label for="ddd">DDD:</label>
            <input type="text" id="ddd" name="ddd" placeholder="DDD" readonly />

            <label for="map">MAP:</label>
            <div id="map" class="map-container"></div> 
        </form>
    </div>
    <div class="Botoes">
        <button class="editar">Editar<img  class="imgs"  src="/lapizin.png" alt=""></button>
        <button class="historico">Historico<img  class="imgs"  src="/papelzin.png" alt=""></button>
        <button class="excluir">Excluir <img  class="imgs"  src="/simbolo.png" alt=""></button>
        <button class="cadastrar">Cadastrar<img  class="imgs"  src="/simbolo2.png" alt=""></button>
    </div>
    <button class="sair">Sair<img class="imgs" src="/bolinha_sair.png" alt=""></button> 
</div>

